<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UNCDeporte.Properties.Settings.bd_proyectoConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;|DataDirectory|\Base de datos\bd_proyecto.mdf&quot;;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="UNCDeporte.Properties.Settings.bd_proyectoConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;|DataDirectory|\Base de Datos\bd_proyecto.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>